@font-face {
  font-family: "LatoRegular";
  src: url("./fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "LatoSemiBold";
  src: url("./fonts/Lato-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "LatoBold";
  src: url("./fonts/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
